VCCAUX = 3.3;

#NET "CLK_50"    LOC = "H17" | IOSTANDARD = LVCMOS33 | PERIOD = 50 MHz;

#Net clk TNM_NET = sys_clk_pin;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 24 MHz;
#Net clk TNM_NET = sys_clk_pin  |  LOC=K15 | IOSTANDARD = LVCMOS33;

Net clk_50 TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 66.6 MHz;
Net clk_50 TNM_NET = sys_clk_pin  |  LOC=T10 | IOSTANDARD = LVCMOS33;

# HDMI
NET "TMDS(0)"   LOC = "B3" | IOSTANDARD = TMDS_33 ; # Blue
NET "TMDSB(0)"  LOC = "A3" | IOSTANDARD = TMDS_33 ;
NET "TMDS(1)"   LOC = "D6" | IOSTANDARD = TMDS_33 ; # Red
NET "TMDSB(1)"  LOC = "C6" | IOSTANDARD = TMDS_33 ;
NET "TMDS(2)"   LOC = "B2" | IOSTANDARD = TMDS_33 ; # Green
NET "TMDSB(2)"  LOC = "A2" | IOSTANDARD = TMDS_33 ;
NET "TMDS(3)"   LOC = "B4" | IOSTANDARD = TMDS_33 ; # Clock
NET "TMDSB(3)"  LOC = "A4" | IOSTANDARD = TMDS_33 ;


# EBI
net write_addr(15) loc = R10;
net write_addr(14) loc = T13;
net write_addr(13) loc = U10;
net write_addr(12) loc = V10;
net write_addr(11) loc = R8;
net write_addr(10) loc = T8;
net write_addr(9) loc = T9;
net write_addr(8) loc = V9;
net write_addr(7) loc = M8;
net write_addr(6) loc = N8;
net write_addr(5) loc = U8;
net write_addr(4) loc = V8;
net write_addr(3) loc = U7;
net write_addr(2) loc = V7;
net write_addr(1) loc = N7;
net write_addr(0) loc = P8;

net write_data(15) loc = V6;
net write_data(14) loc = R7;
net write_data(13) loc = T7;
net write_data(12) loc = N6;
net write_data(11) loc = P7;
net write_data(10) loc = R5;
net write_data(9) loc = T5;
net write_data(8) loc = U5;
net write_data(7) loc = V5;
net write_data(6) loc = R3;
net write_data(5) loc = T3;
net write_data(4) loc = T4;
net write_data(3) loc = V4;
net write_data(2) loc = N5;
net write_data(1) loc = P6;
net write_data(0) loc = U3;

NET "write_enable" LOC = u13 | IOSTANDARD = LVCMOS33;
